.footer {
  position: fixed;
  height: 5rem;
  border-top: 1.5px solid #eee;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 5rem;
  width: 100%;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
}
