.form__container {
  gap: 2rem;
  width: 40%;
}
.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.input__wrapper input {
  padding: 1.2rem;
  outline: none;
}

.input__wrapper button {
  padding: 0.8rem;
  outline: none;
  width: 20%;
  align-self: center;
  cursor: pointer;
}

.form_text {
  font-size: 1.8rem;
  color: #454545;
}
