* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1.5px solid #eee;
}

.nav_lists {
  display: flex;
  gap: 2.4rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}
.action-btn {
  cursor: pointer;
  margin-top: 2rem;
}
